.container {
    border: solid;
}

.left-logo {
    margin-top: 0
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px
}

.a-tag {
    padding: 5px;
}

.second-logo {
    padding: 0x;
    /* display: flex;
    flex-direction: row-reverse; */
}

.two-logos {
    display: flex;
    flex-direction: row-reverse;
}